<mat-toolbar>
    <mat-toolbar-row>
        <div>
            <a id="my-profile" routerLink="/my-profile"> my-profile </a>
            <a id="employees" mat-button routerLink="/employees"> employees</a>
<!-- need own component -->
            <ng-container *ngIf="isLoggedIn else notLoggedIn">
                <a id="login" mat-button (click)="signOut()"> logOut
                    <mat-icon>login</mat-icon> </a>
            </ng-container>
            <ng-template #notLoggedIn>
                <a id="login" mat-button routerLink="/login"> login
                    <mat-icon>login</mat-icon> </a>
            </ng-template>
            <ng-container *ngIf="!isLoggedIn">
                <a id="sign-up" mat-button routerLink="/sign-up"> sign-up <mat-icon>person_add_alt</mat-icon> </a>
            </ng-container>
            <!--  -->
        </div>
    </mat-toolbar-row>
</mat-toolbar>